/* --- 1. GENERAL --- */

html {
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
    
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
 
  section {
    margin: 0 auto;
    padding: 10% 17.5%; /* main container width set by the % */
    min-height: 100vh;
    overflow: auto; /* section adjusts to content's height */
  }

  section:first-child {
    min-height: calc(100vh - 100px); /* means first section height isn't increased by navbar */
        }
  

/* --- 2. FONTS --- */
  body {
    font-family: 'Manrope', sans-serif;
  }

  h1, h2 {
    font-weight: 400;
  }

  h1 {
    font-size: 6em;
    font-weight: 400;
    color: #1099ff;
  }

  h2 {
    font-size: 4em;
    font-weight: 400;

  }

  p {
    font-size: 1.5em;
    margin: 1.5rem 0;
    line-height: 1.5;
  }

  .bluetext {
    color: #1099ff;
  }

  a {
    text-decoration: none;
    color: #1099ff;
    font-size: 16px;
  }
  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
  
  /* --- 3. NAVBAR and FOOTER--- */
  .nav-container, .footer-container {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 60px;
    height: 100px;
    padding: 0px 50px;
    width: 90%;
    margin: 0 auto;
  }

  .nav-container {
    border-bottom: 4px solid #1099ff;
  }

  .footer-container {
    border-top: 4px solid #1099ff;
  }

  .nav-container li {
    margin: auto; 
  }

  .footer-container li {
    margin: auto 0;
  }

  .nav-container li:first-child {
    flex-grow: 2;
  }

/* --- 4. GRID */

.flex-container {
  padding: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); auto auto auto was making ficaption random sizes */
  gap: 50px 25px; /* row then column gap */
  
  
}

.flex-item {
  /* border: solid 2px #1099ff; */
  width: 250px;
  flex-grow: 1;
  
  

}

.flex-item img {
  display: block; /* removes the random pixels of white space under img */

}

.flex-item figure img {
  border: solid 2px #1099ff;
width: 100%;

}

figcaption {
  /* border-top: solid 2px #1099ff; */
  display: flex;
  align-items: center;
}

figcaption {
  padding: 20px;
}

figcaption p, .captionHide {
  font-size: 1em;
  margin: 0;
}

.captionHide {
  padding: 0 20px;
} 

.plus-symbol {
  font-size: 3em;
  line-height: 0;
  color: #1099ff;
  cursor:pointer;
  border: none;
  padding: 5px 5px; /* to increase clickable area */
  background-color: inherit;




}

figcaption div:first-child {
  flex-grow: 1;
}

.plus-icon {
height: 2em;
float: right;

}

  

/* --- MEDIA QUERIES --- */

@media all and (max-width: 600px) {  
      
  
}
