/* --- 1. GENERAL --- */

html {
    box-sizing: border-box;
    background-color: #EEF3F2;
  }
    
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
 
  section {
    margin: 0 auto;
    padding: 10% 17.5%; /* main container width set by the % */
    min-height: 100vh;
    overflow: auto; /* section adjusts to content's height */
  }

  section:first-child {
    min-height: calc(100vh - 100px); /* means first section height isn't increased by navbar */
        }
  

/* --- 2. FONTS --- */
  body {
    font-family: 'neue_haas_grotesk_display65Md', 'Manrope', sans-serif;
  }

  h1, h2 {
    font-weight: 400;
  }

  h1 {
    font-size: 6em;
    font-weight: 400;
    color: #419901;
  }

  h2 {
    font-size: 4em;
    font-weight: 400;

  }

  p {
    font-size: 1.5em;
    margin: 1.5rem 0;
    line-height: 1.5;
  }

  a {
    text-decoration: none;
    color: #0E2724;
    font-size: 16px;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
  
  /* --- 3. NAVBAR and FOOTER--- */
  .nav-container, .footer-container {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 60px;
    height: 100px;
    padding: 0px 50px;
    width: 90%;
    margin: 0 auto;
  }

  .nav-container {
    border-bottom: 4px solid #419901;
  }

  .footer-container {
    border-top: 4px solid #419901;
  }

  .nav-container li {
    margin: auto; 
  }

  .footer-container li {
    margin: auto 0;
  }

  .nav-container li:first-child {
    /* This aligns first item to left */
    flex-grow: 2;
  }

/* --- 4. GRID */

.flex-container {
  padding: 100px 0px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); auto auto auto was making ficaption random sizes */
  gap: 50px 25px; /* row then column gap */
  
  
}

.flex-item {
  width: 250px;
  flex-grow: 1;
  /* flex-basis: 20%; */
}
.flex-item:last-child {
  /* flex-grow: 0; */
}

.flex-item img {
  display: block; /* removes the random pixels of white space under img */
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 15px;
  border: solid 3px #fff;
  width: 100%;
  filter: drop-shadow(4px 4px 4px #DAEDD8);

  /* opacity: 100%; */
}

.flex-item img:hover {
  filter: opacity(50%) drop-shadow(4px 4px 4px #DAEDD8);

}


figcaption {
  display: flex;
  align-items: center;
  padding: 20px;
}

figcaption p, .captionHide {
  font-size: 1em;
  margin: 0;
  font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
}

.captionHide {
  padding: 0 20px;
} 

.plus-symbol {
  font-size: 3em;
  line-height: 0;
  color: #26665F;
  cursor:pointer;
  border: none;
  padding: 5px 5px; /* to increase clickable area */
  background-color: inherit;
}

figcaption div:first-child {
  flex-grow: 1;
}

.plus-symbol:hover {
color: #888684;
transition: 0.3s;
}

  

/* --- MEDIA QUERIES --- */

@media all and (max-width: 1200px) {  

  .nav-container li:first-child {
    display: none;
  }
      
  .nav-container, .footer-container {
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    gap: 20px;
    padding: 30px 0;
  }
}
